

$sidebar-bg-color: #f8f9fa!important;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(#f8f9fa, 0.95);
$sidebar-color: #666;
$highlight-color: red;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;

.css-1wvake5{
  width: 300px ;
}

// @import '~react-pro-sidebar/dist/scss/styles.scss';
body {
  margin: 0;
  height: 100vh;
  color: #353535;
  font-family: 'Alverata'
}

#root {
  height: 100%;
}

.pro-item-content:hover {
  color: #cf0622 !important; /* Rojo quemado */
}

/* En tu archivo CSS */
.menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}


/* Cambiar el color del texto en hover */
.pro-sidebar .pro-menu-item:hover .nav-item {
  color: red !important; /* Cambiar a rojo */
}

/* Evitar el fondo gris en hover */
.pro-sidebar .pro-menu-item:hover {
  background-color: transparent !important; /* Fondo transparente */
}

/* Color y estilo para el estado activo */
.pro-sidebar .pro-menu-item.active .nav-item {
  font-weight: bold; /* Negrita para el activo */
  color: #cf0622 !important; /* Rojo quemado para el link activo */
}


.active {
  font-weight: bold;
  color: #cf0622 !important; /* Rojo quemado para el link activo */
}


.app {
  height: 100%;
  display: flex;
  position: relative;

  .btn-toggle {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: #353535;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    display: none;
  }

  .sidebar-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .sidebar-btn {
      transition: width 0.3s;
      width: 150px;
      padding: 1px 15px;
      border-radius: 40px;
      background: rgba(255, 255, 255, 0.05);
      color: #adadad;
      text-decoration: none;
      margin: 0 auto;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-overflow: ellipsis;
      overflow: hidden;
      span {
        margin-left: 5px;
        font-size: 13px;
      }
      &:hover {
        color: $highlight-color;
      }
    }
  }

  .collapsed {
    .sidebar-btn {
      display: inline-block;
      line-height: 40px;
      padding: 0;
    }
  }

  main {
    padding: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    header {
      margin-bottom: 40px;
      border-bottom: 1px solid #efefef;
      h1 {
        display: flex;
        align-items: center;
        transform: translateX(-20px);
      }
    }



.HeaderDiv {
  
    padding:24px;
    text-transform: uppercase!important;
    font-weight:bold; 
    font-size: 14;
    letter-spacing:1px;
    overflow:hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
  
}


    footer {
      margin-top: auto;
      color: #888;
      text-align: center;
      a {
        text-decoration: none;
        color: #888;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .social-bagdes {
    margin-top: 10px;
    img {
      margin: 5px;
    }
  }

  .block {
    display: flex;
    margin-bottom: 24px;
    font-size: 14px;
    color: #545454;
    > span {
      margin-left: 10px;
    }
  }

  &.rtl {
    direction: rtl;
    text-align: right;

    header {
      h1 {
        transform: translateX(20px);
      }
    }
    .block {
      direction: rtl;
      > span {
        margin-left: 0;
        margin-right: 10px;
      }
    }
    .sidebar-btn-wrapper {
      .sidebar-btn {
        span {
          margin-left: 0;
          margin-right: 5px;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    overflow-x: hidden;
    header {
      h1 {
        font-size: 24px;
      }
    }
  }
  // @media (max-width: $breakpoint-md) {
  //   .btn-toggle {
  //     display: flex;
  //   }

  //   &.rtl {
  //     .btn-toggle {
  //       margin-left: auto;
  //     }
  //   }
  // }
}

.badge {
  padding: 3px 6px;
  font-size: 9px;
  letter-spacing: 1px;
  border-radius: 15px;
  &.red {
    color: #ffffff;
    background: #d63030;
  }
  &.gray {
    color: #ffffff;
    background: #777777;
  }
  &.yellow {
    color: #000000;
    background: #ffd331;
  }
}


// ESTILOS DE USER EN HEADER SIDEBAR
.profile-container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.profile-image {
  width: 40px; /* Ajusta el tamaño de la imagen */
  height: 40px; /* Mantén proporciones */
  border-radius: 50%; /* Hace que la imagen sea redonda */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.profile-info {
  flex-grow: 1; /* Permite que esta sección crezca */
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.badge {
  background-color: gray; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 5px 10px; /* Espaciado */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar */
}
